body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  color: #502050; }

.rating__intro {
  text-align: center;
  padding: .5em 0em;
  width: 100%; }
  .rating__intro h1 {
    font-size: 2em; }
  .rating__intro h3 {
    color: #808080;
    line-height: 1.5;
    font-weight: 400; }

.rating__ratings--one,
.rating__ratings--two,
.rating__ratings--three {
  width: 70%;
  background: #f7f2f7;
  padding: 0.1em 5em;
  border-radius: 8px;
  text-align: center;
  margin-top: 1em; }
  .rating__ratings--one p,
  .rating__ratings--two p,
  .rating__ratings--three p {
    font-weight: 700; }

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem; }
  .stars img {
    margin-left: 0.5rem; }

body {
  background: url(../images/bg-pattern-top-mobile.svg) 50%/cover no-repeat; }

.container {
  max-width: 345px;
  width: 100%;
  margin: 0 auto; }

.rating__ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
