// Rating
.rating__intro {
  text-align: center;
  padding: .5em 0em;
  width: 100%;

  h1 {
    font-size: 2em;
  }

  h3 {
    color: $gray;
    line-height: 1.5;
    font-weight: 400;
  }
}

.rating__ratings--one,
.rating__ratings--two,
.rating__ratings--three {
  width: 70%;
  background: $light-grayish-magenta;
  padding: 0.1em 5em;
  border-radius: 8px;
  text-align: center;
  margin-top: 1em;

  p {
    font-weight: 700;
  }
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;

  img {
    margin-left: 0.5rem;
  }
}

// Testimonials
.testimonials--one {
  margin: 3em auto;
  width: 70%;
  background-color: $very-dark-magenta;
  padding: 2rem 0;
  padding-bottom: 1rem;
  color: $white;
  border-radius: 8px;


  .user {
    display: flex;
    // changes image back to normal instead of stretching when using flex since stretch is default
    align-items: center;


  }

  .user-info {
    margin-left: 2em;
    margin-top: -2em;

    p {
      margin-bottom: -10px;
      color: $white
    }

    .verified {
      color: $soft-pink;
    }
  }

  img {
    border-radius: 50%;
    width: 10%;
    margin-left: 2.4rem;
  }

  blockquote {
    text-align: left;
  }
}