body {
  background: url(../images/bg-pattern-top-mobile.svg) 50%/cover no-repeat;

}

.container {
  // max-width: 345px;
  width: 90%;
  margin: 0 auto;
}

.rating__ratings {
  // max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials {
  // max-width: 345px;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    max-width: 900px;
  }
  .rating {
    display: flex;
  }
}